<div class="col-sm-6 col-md-4 col-xl-3 book-entry">
  <article class="book-card h-100 animate__animated animate__fadeInUp">
    <div class="book-cover-wrap">
      <img class="book-cover" alt="" loading="lazy">
    </div>
    <div class="book-card__body">
      <p class="book-author"></p>
      <h3 class="book-title"></h3>
      <div class="book-meta">
        <span class="book-price"></span>
        <span class="book-stock badge text-bg-light"></span>
      </div>
    </div>
  </article>
</div>
